.headerBackground {
    background-color: #0000CD;
    padding-bottom: 40px;
  }
  
.dictionary .headerBackground {
    margin: 0 auto;
}

.dictionary h1 {
    font-family: monospace;
    font-size: 50px;
    color: whitesmoke;
    text-align: center;
    padding-top: 50px;
}

.appHeader:hover {
  cursor: pointer;
}
  
.search {
    padding-top: 20px;
    text-align: center;
}
  
.searchForm {
    display: inline;
    padding: 20px 15px 15px 20px;
    background: #fff;
    border-radius: 30px;
}
  
.dictionary .searchBtn {
    border: none;
    background-color: transparent;
}

.searchBar {
    border: 0px;
    outline: none;
    font-size: 25px;
    color: #61686d;
    width: 50%;
}
  
.dictionary form {
    display: inline;
}
  
.searchIcon {
    font-size: 30px;
    padding: 0 15px 0 0;
    background-color: transparent;
    border: transparent;
}
  
.resultsSection {
    margin: 0 auto;
    max-width: 800px;
}
  
  

