.wordsyn ul {
    padding: 0;
    margin: 0;
}
  
.wordsyn .wordsynheader {
    color: #0000CD;
    font-weight: 450;
}

.wordsyn li {
    color: #6495ED;
    font-size: 14px;
    font-weight:300;
    display: inline-block;
    padding-right: 15px;
}
  